<ion-content *ngIf="pet">
  <div class="header">
    <img src="../../../assets/icon/Backward arrow.svg" alt="" (click)="goBack()" class="back-btn">
    <h1>{{pet.name}}</h1>
    <img class="interested-btn" [src]="petIsFavourited() ? '../../../assets/icon/filledHeart.png' : '../../../assets/icon/emptyHeart.png'" alt="" (click)="toogleFavourite(pet)">

  </div>
  <div class="photo-cnt">
    <img [src]="pet.profileImg || '../../../assets/icon/foto-perfil.png'" alt="">
  </div>
  <div class="user-data">
    <div class="data-cnt" *ngIf="pet.genre">
      <img src="../../../assets/icon/huella.png" alt=""> <label> Género: </label><span>{{pet.genre == "femenine" ? 'Femenino' : 'Masculino'}}</span>
    </div>
    <div class="data-cnt" *ngIf="pet.type">
      <img src="../../../assets/icon/huella.png" alt=""><label> Tipo de mascota: </label><span>{{pet.type}}</span>
    </div>
    <div class="data-cnt" *ngIf="pet.age >= 0">
      <img src="../../../assets/icon/huella.png" alt=""><label> Edad: </label><span>{{pet.age}} años</span>
    </div>
    <div class="data-cnt" *ngIf="pet.description">
      <img src="../../../assets/icon/huella.png" alt=""><label> Descripción: </label>
    </div>
    <p *ngIf="pet.description" class="contact-info-text">{{pet.description && pet.description}}</p>
    <div class="data-cnt" *ngIf="pet.contactInfo">
      <img src="../../../assets/icon/huella.png" alt=""><label> Información de contacto: </label>
    </div>
    <p *ngIf="pet.contactInfo" class="contact-info-text">{{pet.contactInfo && pet.contactInfo}}</p>
  </div>
</ion-content>