<ion-content>
  <div class="header">
    <h1>Conoce otras mascotas</h1>
  </div>
  <div class="search-cnt"></div>
  <div class="post-cnts" *ngIf="pets">
    
    <div *ngFor="let pet of pets let index = index;trackBy: trackByFunction" class="pet-data animate__animated animate__bounceInUp" (click)="goToProfile(pet)"
    [style.animation-delay]=" (0.3 * index) + 's'" >
      <img src="../../../../assets/icon/huella.png" alt="" class="photo-bg-img">
        <img [src]="pet.profileImg || '../../../../assets/icon/foto-perfil.png' " class="profile-img" alt="">
      <p>{{pet.name}}</p>
    </div>
  </div>
</ion-content>