
ion-tab-button{
    img{
        width: 25px;
        height: 25px;
        &:last-of-type{
            width: 20px;
        }
    }
    #chat-icon{
        width: 29px;
    }
}
ion-tab-bar{
    height: 60px;
}