ion-content {
  .header {
    text-align: left;
    padding-left: 37px;
    padding-right: 37px;
    margin-top: 39px;
    margin-bottom: 30px;
    h1 {
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      margin: 0;
    }
  }
  .no-chats-msg {
    padding-left: 37px;
    padding-right: 37px;
    p {
      font-size: 12px;
      color: sienna;
      border: 1px solid sienna;
      padding: 8px;
      border-radius: 10px;
    }
  }
  .chats-list-cnt {
    padding: 0 37px;
    .chat-cnt {
      height: 70px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid lightgray;
      width: 100%;
      .profile-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }
      .chat-data {
        height: 40px;
        display: flex;
        width: calc(100% - 60px);
        flex-direction: column;
        justify-content: center;
        .top-data {
          display: flex;
          justify-content: space-between;
          height: 15px;
          width: 100%;
          span {
            font-size: 13px;
          }
          margin-bottom: 5px;
        }
        .bottom-data {
          display: flex;
          justify-content: space-between;
          height: 15px;
          width: 100%;
          span {
            font-size: 13px;
            width: 77%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .top-data {
      .stranger-data {
        display: flex;
        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          margin-right: 6px;
        }
      }
      display: flex;
      justify-content: space-between;
    }
    .bottom-data {
      .unread-msgs-cnt {
        font-size: 10px;
        background-color: cornflowerblue;
        width: 20px;
        height: 20px;
        text-align: center;
        padding-top: 4px;
        border-radius: 50%;
      }
    }
  }
}
