<ion-content *ngIf="pet">
  <div class="photo-cnt">
    <div class="header">
      <img src="../../../assets/icon/white-backward-arrow.png" alt="" (click)="goBack()" class="back-btn">
    </div>
    <img [src]="pet.profileImg || '../../../assets/icon/foto-perfil.png'" alt="" class="profile-img">
    <div class="actions-cnt">
      <div class="action-cnt">
        <img class="interested-btn first-img" src="../../../assets/icon/broken-heart-filled.png" alt="" (click)="unfavourite()">
      </div>
      <div class="action-cnt">
        <img class="interested-btn" src="../../../assets/icon/filledHeart.png" alt="" (click)="favourite()">
      </div>
    </div>
  </div>
  <div class="user-data">
    <div class="data-cnt" *ngIf="pet.name">
      <img src="../../../assets/icon/huella.png" alt=""> <label> Nombre: </label><span>{{pet.name}}</span>
    </div>
    <div class="data-cnt" *ngIf="pet.genre">
      <img src="../../../assets/icon/huella.png" alt=""> <label> Género: </label><span>{{pet.genre == "femenine" ? 'Femenino' : 'Masculino'}}</span>
    </div>
    <div class="data-cnt" *ngIf="pet.type">
      <img src="../../../assets/icon/huella.png" alt=""><label> Tipo de mascota: </label><span>{{pet.type}}</span>
    </div>
    <div class="data-cnt" *ngIf="pet.age">
      <img src="../../../assets/icon/huella.png" alt=""><label> Edad: </label><span>{{pet.age}}</span>
    </div>
    <div class="data-cnt" *ngIf="pet.description">
      <img src="../../../assets/icon/huella.png" alt=""><label> Descripción: </label>
    </div>
    <p *ngIf="pet.description" class="contact-info-text">{{pet.description && pet.description}}</p>
  </div>
</ion-content>